<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.johnny.hangman">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:icon,android:label,android:theme"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/s165543_Jia_Hao_Johnny_Chen"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Play"
            />

        <activity android:name=".Profile"
            />

        <activity android:name=".Help"
            />

        <activity android:name=".Win"
            />

        <activity android:name=".Lose"
            />

    </application>

</manifest>